.App {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

a:-webkit-any-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

@font-face {
    font-family: 'Muli';
    src: url('/assets/fonts/muli/Muli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Bold';
    src: url('/assets/fonts/muli/Muli.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Heading 1 */
h1 {
    font-family: 'Muli';
    font-size: 80pt;
    font-weight: normal;
    line-height: 1;
}

/* Heading 2 */
h2 {
    color: #ebe9e9;
    font-family: 'Muli-Bold';
    font-size: 24pt;
    font-weight: bold;
    line-height: 1.2;
}

/* Subhead 01 */
h3 {
    color: #ebe9e9;
    font-family: 'Muli';
    font-size: 22pt;
    font-weight: bold;
    line-height: 1.2;
}

h4 {
    color: #ebe9e9;
    font-family: 'Muli';
    font-size: 18pt;
    font-weight: normal;
    line-height: 1.2;
}

#backgroundVideo {
    height: 100vh;
    object-fit: cover;
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.logo {
    /*position: absolute;*/
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    top: 10%;
}

.logo img {
    height: 30%;
    max-width: 90%; /* Updated */
}

button {
    background-color: transparent;
    border: none;
    color: #ebe9e9;
    cursor: pointer;
    font-family: 'Muli-Bold';
    font-size: 24pt;
    font-weight: bold;
    line-height: 1.2;
    margin: 5% 0; /* Updated */
    transition: all 0.3s ease;
    text-align: right;
    width: auto;
}

.description {
    margin-bottom: auto;
    text-align: right;
    margin-top: auto;
}

.menu-container {
    display: inline-block;
    vertical-align: top;
    transition: filter 0.5s ease;
    width: 25%;
}

.content-button {
    background-color: #f38418;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: auto;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.content-button:hover {
    background-color: #fff;
    color: #f38418;
}

.content-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    /*text-align: center;*/
    padding-bottom: 5%;
    padding-left: 2.5%;
    width: 70%;

}

.content-wrapper h1 {
    color: #ebe9e9;
    text-align: center;
}

.content-container {
    /*background-position: center;*/
    /*background-size: cover;*/
    min-height: 100vh;
    /*overflow-y: auto;*/
    display: flex;
    flex-direction: row;

    /*padding-right: 5%;*/
}

.workout-calendar{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
    /*display: flex;*/
    flex-direction: row;
    width: 100%;
    max-width: 60vw;
    -webkit-backdrop-filter: blur(7px); /* add vendor prefix for Safari */
    backdrop-filter: blur(7px); /* add a slight blur effect to the background */
}

.register-window {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    -webkit-backdrop-filter: blur(7px); /* add vendor prefix for Safari */
    backdrop-filter: blur(7px);
}

.register-button {
    background-color: #f38418;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: auto;
    position: relative;
    top: 50%;
    left: 50%;
}

.sign-in-button {
    border: none;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: absolute;
    bottom: 50%;
    left: 50%;

}
.sign-in-button h2 {
    color: #f38418;

}

.mdb-date-picker .md-form label.active {
    font-size: 1rem;
    color: red;
    transform: translateY(-14px) scale(0.9) !important;
}

/*// focus label*/
/*   mdb-date-picker .md-form input[type='text']:focus:not([readonly]) + label {*/
/*       color: #00c853;  // #4285f4*/
/*   transform: translateY(-14px) scale(0.9) !important;*/
/*   }*/

/*// focus input*/
/*   mdb-date-picker .md-form input[type=text]:focus:not([readonly]) {*/
/*       box-shadow: 0 1px 0 0 green !important;*/
/*       border-bottom: 1px solid green !important;*/
/*   }*/