.App {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

@font-face {
    font-family: 'Muli';
    src: url('/assets/fonts/muli/Muli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Bold';
    src: url('/assets/fonts/muli/Muli.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Heading 1 */
h1 {
    font-family: 'Muli';
    font-size: 80pt;
    font-weight: normal;
    line-height: 1;
}

/* Heading 2 */
h2 {
    color: #ebe9e9;
    font-family: 'Muli-Bold';
    font-size: 24pt;
    font-weight: bold;
    line-height: 1.2;
}

/* Subhead 01 */
.subhead-01 {
    font-family: 'Muli';
    font-size: 22pt;
    font-weight: bold;
    line-height: 1.2;
}

#backgroundVideo {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.menu {
    background-color: rgba(49, 57, 60, 0.85);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    padding: 50px;
    position: absolute;
    top: 0;
    width: 25%;
}


.logo {
    /*position: absolute;*/
    align-items: flex-end;
    /*left: 50px;*/
    display: flex;
    justify-content: flex-end;
    top: 50px;
}

.logo img {
    height: 60px;
    max-width: 100%; /* Updated */
}

.menu-items {
    align-items: flex-end; /* Updated */
    display: flex;
    flex-direction: column;
    font-style: inherit;
    justify-content: space-between;
    margin-bottom: auto; /* Updated */
    margin-top: 100px; /* Added */
    width: 100%;
}


.menu-button {
    /* ... existing button styles ... */
    overflow: hidden;
    position: relative;
}

button {
    background-color: transparent;
    border: none;
    color: #ebe9e9;
    cursor: pointer;
    font-family: 'Muli-Bold';
    font-size: 24pt;
    font-weight: bold;
    line-height: 1.2;
    margin: 25px 0; /* Updated */
    transition: all 0.3s ease;
}

.menu-button::before {
    content: '';
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    transition: all 0.3s ease;
    /*background: linear-gradient(90deg, transparent, rgba(255, 165, 0, 0.5), transparent);*/
    width: 100%;
}

.menu-button:hover {
    color: #f38418;
}

.menu-button:hover::before {
    left: 100%;
}


.description {
    margin-bottom: 200px;
    text-align: right;
}

.social-icons {
    align-items: flex-end; /* Added */
    display: flex;
    justify-content: space-between; /* Updated */
    margin: 0 auto; /* Added */
    transition: all 0.3s ease;
    width: 90%; /* Updated */
}

.social-icons img {
    flex: 1; /* Updated */
    height: 30px;
    margin: 0 10px; /* Added */
    max-width: 80px; /* Added */
    transition: all 0.3s ease;
}

.social-icons img:hover {
    filter: brightness(0) saturate(100%) invert(1) sepia(100%) hue-rotate(110deg) brightness(95%) contrast(101%); /* change the color on hover */
}